@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Alex Brush', cursive;
  font-family: 'Roboto Condensed', sans-serif;

  line-height: 1;
  font-weight: 400;
  background-color: #ffffff;
  --color-blanco: #fff;
  --marronuno: #574b4b;
  --color-dos: #e8c698;
  --color-tres: #8b9088;
  --color-cuatro: #020101;
  --color-cinco: #a8847c;
}

body {
  margin: 0;
  /* Elimina el margen predeterminado del cuerpo */
  padding: 0;


  /* Elimina el relleno predeterminado del cuerpo */
  /*background-image: linear-gradient(to right bottom, #e8c698, #efcaaa, #f2cfbc, #f1d6cc, #eddedb);*/
}

.carousel-container {
  height: auto;
  width: auto;

}

h1 {
  color: var(--color-blanco);
}

.text-success {
  color: green;
}